In [172]:
import pandas as pd
df = pd.read_csv("playground-series-s4e8\\train.csv")
df.head()

,id,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,0,e,8.80,f,s,u,f,a,c,w,...,NaN,NaN,w,NaN,NaN,f,f,NaN,d,a
1,1,p,4.51,x,h,o,f,a,c,n,...,NaN,y,o,NaN,NaN,t,z,NaN,d,w
2,2,e,6.94,f,s,b,f,x,c,w,...,NaN,s,n,NaN,NaN,f,f,NaN,l,w
3,3,e,3.88,f,y,g,f,s,NaN,g,...,NaN,NaN,w,NaN,NaN,f,f,NaN,d,u
4,4,e,5.85,x,l,w,f,d,NaN,w,...,NaN,NaN,w,NaN,NaN,f,f,NaN,g,a

In [173]:
print(df.dtypes)
print(df.shape)

id                        int64
class                    object
cap-diameter            float64
cap-shape                object
cap-surface              object
cap-color                object
does-bruise-or-bleed     object
gill-attachment          object
gill-spacing             object
gill-color               object
stem-height             float64
stem-width              float64
stem-root                object
stem-surface             object
stem-color               object
veil-type                object
veil-color               object
has-ring                 object
ring-type                object
spore-print-color        object
habitat                  object
season                   object
dtype: object
(3116945, 22)

In [174]:
# checking null values
df.isnull().sum()

id                            0
class                         0
cap-diameter                  4
cap-shape                    40
cap-surface              671023
cap-color                    12
does-bruise-or-bleed          8
gill-attachment          523936
gill-spacing            1258435
gill-color                   57
stem-height                   0
stem-width                    0
stem-root               2757023
stem-surface            1980861
stem-color                   38
veil-type               2957493
veil-color              2740947
has-ring                     24
ring-type                128880
spore-print-color       2849682
habitat                      45
season                        0
dtype: int64

In [175]:
# replacing null cap-diameter values with the mean
df1 = df.copy()
df1['cap-diameter'] = df1['cap-diameter'].fillna(df['cap-diameter'].mean())
df1.isnull().sum()

id                            0
class                         0
cap-diameter                  0
cap-shape                    40
cap-surface              671023
cap-color                    12
does-bruise-or-bleed          8
gill-attachment          523936
gill-spacing            1258435
gill-color                   57
stem-height                   0
stem-width                    0
stem-root               2757023
stem-surface            1980861
stem-color                   38
veil-type               2957493
veil-color              2740947
has-ring                     24
ring-type                128880
spore-print-color       2849682
habitat                      45
season                        0
dtype: int64

In [176]:
# cap shape values
cap_shape = df['cap-shape'].value_counts()
print(cap_shape)

cap-shape
x        1436026
f         676238
s         365146
b         318646
o         108835
          ...
12.62          1
5.15           1
19.04          1
49.21          1
19.06          1
Name: count, Length: 74, dtype: int64

In [177]:
# The cap shapes have a lot of non-character values, so we replace them with 'other'
df1['cap-shape'] = df1['cap-shape'].fillna('other')
df1['cap-shape'] = df1['cap-shape'].astype(str).str.strip()
print('Null values:', df1['cap-shape'].isnull().sum())

# we treat x, f, s, b, o, p, c as official values for cap-shape, and call all other categories "other"
official_cap_shapes = ['x', 'f', 's', 'b', 'o', 'p', 'c']
df1['cap-shape'] = df1['cap-shape'].apply(lambda x: x if x in official_cap_shapes else 'other')
cap_shape1 = df1['cap-shape'].value_counts()
print(cap_shape1)

Null values: 0
cap-shape
x        1436026
f         676238
s         365146
b         318646
o         108835
p         106967
c         104520
other        567
Name: count, dtype: int64

In [178]:
# cap surface values
cap_surface = df['cap-surface'].value_counts()
print(cap_surface)

cap-surface
t        460777
s        384970
y        327826
h        284460
g        263729
          ...
1.42          1
has h         1
10.83         1
8.96          1
0.87          1
Name: count, Length: 83, dtype: int64

In [179]:
#cleaning cap-surface
df1['cap-surface'] = df1['cap-surface'].fillna('other')
df1['cap-surface'] = df1['cap-surface'].astype(str).str.strip()
df1['cap-surface'] = df1['cap-surface'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['cap-surface'].isnull().sum())


# we treat t, s, y, h, g, d, k, e, i, w, l, as official values for cap-surface, and call all other categories "other"
official_cap_surface = ['t', 's', 'y', 'h', 'g', 'd', 'k', 'e', 'i', 'w', 'l']
df1['cap-surface'] = df1['cap-surface'].apply(lambda x: x if x in official_cap_surface else 'other')
cap_surface1 = df1['cap-surface'].value_counts()
print(cap_surface1)

Null values: 0
cap-surface
other    671625
t        460777
s        384970
y        327826
h        284460
g        263729
d        206832
k        128875
e        119712
i        113440
w        109840
l         44859
Name: count, dtype: int64

In [180]:
# cap colour values
cap_color = df['cap-color'].value_counts()
print(cap_color.head(20))

cap-color
n    1359542
y     386627
w     379442
g     210825
e     197290
o     178847
p      91838
r      78236
u      73172
b      61313
k      59888
l      39558
f         53
d         48
s         39
a         30
t         26
h         22
m         14
x         14
Name: count, dtype: int64

In [181]:
#cleaning cap-colour
df1['cap-color'] = df1['cap-color'].fillna('other')
df1['cap-color'] = df1['cap-color'].astype(str).str.strip()
df1['cap-color'] = df1['cap-color'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['cap-color'].isnull().sum())


# we treat n, y, w, g, e, o, p, r, u, b, k, l as official values for cap-surface, and call all other categories "other"
official_cap_color = ['n', 'y', 'w', 'g', 'e', 'o', 'p', 'r', 'u', 'b', 'k', 'l']
df1['cap-color'] = df1['cap-color'].apply(lambda x: x if x in official_cap_color else 'other')
cap_color1 = df1['cap-color'].value_counts()
print(cap_color1)

Null values: 0
cap-color
n        1359542
y         386627
w         379442
g         210825
e         197290
o         178847
p          91838
r          78236
u          73172
b          61313
k          59888
l          39558
other        367
Name: count, dtype: int64

In [182]:
# bruise/bleed values
bruise_bleed = df['does-bruise-or-bleed'].value_counts()
print(bruise_bleed.head(20))
print('Null values:', df1['does-bruise-or-bleed'].isnull().sum())

does-bruise-or-bleed
f    2569743
t     547085
w         14
c         11
h          9
a          7
b          7
x          7
y          7
k          6
s          6
e          4
l          4
p          4
d          4
g          3
z          3
o          3
i          2
n          2
Name: count, dtype: int64
Null values: 8

In [183]:
#cleaning bruise/bleed
df1['does-bruise-or-bleed'] = df1['does-bruise-or-bleed'].fillna('other')
df1['does-bruise-or-bleed'] = df1['does-bruise-or-bleed'].astype(str).str.strip()
df1['does-bruise-or-bleed'] = df1['does-bruise-or-bleed'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['does-bruise-or-bleed'].isnull().sum())


# we treat t, f as official values for bruise/bleed, and call all other categories "other"
official_bruise_bleed = ['t', 'f']
df1['does-bruise-or-bleed'] = df1['does-bruise-or-bleed'].apply(lambda x: x if x in official_bruise_bleed else 'other')
bruise_bleed1 = df1['does-bruise-or-bleed'].value_counts()
print(bruise_bleed1)

Null values: 0
does-bruise-or-bleed
f        2569743
t         547085
other        117
Name: count, dtype: int64

In [184]:
# grill attachment values
grill_attachment = df['gill-attachment'].value_counts()
print(grill_attachment.head(20))
print('Null values:', df1['gill-attachment'].isnull().sum())

gill-attachment
a    646034
d    589236
x    360878
e    301858
s    295439
p    279110
f    119953
c        74
u        56
w        37
t        36
k        33
y        28
i        25
m        22
g        22
b        21
n        20
o        18
h        18
Name: count, dtype: int64
Null values: 523936

In [185]:
#cleaning grill attachment
df1['gill-attachment'] = df1['gill-attachment'].fillna('other')
df1['gill-attachment'] = df1['gill-attachment'].astype(str).str.strip()
df1['gill-attachment'] = df1['gill-attachment'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['gill-attachment'].isnull().sum())


# we treat a, d, x, e, s, p, f as official values, and call all other categories "other"
official_grill_attachment = ['a', 'd', 'x', 'e', 's', 'p', 'f']
df1['gill-attachment'] = df1['gill-attachment'].apply(lambda x: x if x in official_grill_attachment else 'other')
grill_attachment1 = df1['gill-attachment'].value_counts()
print(grill_attachment1)

Null values: 0
gill-attachment
a        646034
d        589236
other    524385
x        360930
e        301858
s        295439
p        279110
f        119953
Name: count, dtype: int64

In [186]:
# grill spacing values
gill_spacing = df['gill-spacing'].value_counts()
print(gill_spacing.head(20))
print('Null values:', df1['gill-spacing'].isnull().sum())

gill-spacing
c       1331054
d        407932
f        119380
e            24
a            17
s            16
b            12
x             8
t             8
p             7
k             4
g             4
l             3
h             3
r             2
6.67          2
y             2
0             2
3.81          1
1.6           1
Name: count, dtype: int64
Null values: 1258435

In [187]:
#cleaning grill spacing
df1['gill-spacing'] = df1['gill-spacing'].fillna('other')
df1['gill-spacing'] = df1['gill-spacing'].astype(str).str.strip()
df1['gill-spacing'] = df1['gill-spacing'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['gill-spacing'].isnull().sum())


# we treat c, d, f as official values, and call all other categories "other"
official_grill_spacing = ['d', 'f', 'c']
df1['gill-spacing'] = df1['gill-spacing'].apply(lambda x: x if x in official_grill_spacing else 'other')
grill_spacing1 = df1['gill-spacing'].value_counts()
print(grill_spacing1)

Null values: 0
gill-spacing
c        1331054
other    1258579
d         407932
f         119380
Name: count, dtype: int64

In [188]:
# grill color values
gill_color = df['gill-color'].value_counts()
print(gill_color.head(15))
print('Null values:', df1['gill-color'].isnull().sum())

gill-color
w    931538
n    543386
y    469464
p    343626
g    212164
o    157119
k    127970
f    119694
r     62799
e     56047
b     47247
u     45399
l        55
d        54
t        54
Name: count, dtype: int64
Null values: 57

In [189]:
#cleaning grill color
df1['gill-color'] = df1['gill-color'].fillna('other')
df1['gill-color'] = df1['gill-color'].astype(str).str.strip()
df1['gill-color'] = df1['gill-color'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['gill-color'].isnull().sum())


# we treat w, n, y, p, g, o, k, f, r, e, b, u as official values, and call all other categories "other"
official_grill_color = ['w', 'n', 'y', 'p', 'g', 'o', 'k', 'f', 'r', 'e', 'b', 'u']
df1['gill-color'] = df1['gill-color'].apply(lambda x: x if x in official_grill_color else 'other')
grill_color1 = df1['gill-color'].value_counts()
print(grill_color1)

Null values: 0
gill-color
w        931538
n        543386
y        469464
p        343626
g        212164
o        157119
k        127970
f        119694
r         62799
e         56047
b         47247
u         45399
other       492
Name: count, dtype: int64

Both stem height and width have no null values and are continuous, so we leave them as they are

In [190]:
# stem root values
stem_root = df['stem-root'].value_counts()
print(stem_root.head(15))
print('Null values:', df1['stem-root'].isnull().sum())

stem-root
b    165801
s    116946
r     47803
c     28592
f       597
d        24
y        14
g        12
w        12
p        12
k        11
t        10
l        10
n        10
x         9
Name: count, dtype: int64
Null values: 2757023

In [191]:
# cleaning stem root
df1['stem-root'] = df1['stem-root'].fillna('other')
df1['stem-root'] = df1['stem-root'].astype(str).str.strip()
df1['stem-root'] = df1['stem-root'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['stem-root'].isnull().sum())


# we treat b, s, r, c as official values, and call all other categories "other"
official_stem_root = ['b', 's', 'r', 'c']
df1['stem-root'] = df1['stem-root'].apply(lambda x: x if x in official_stem_root else 'other')
stem_root1 = df1['stem-root'].value_counts()
print(stem_root1)

Null values: 0
stem-root
other    2757803
b         165801
s         116946
r          47803
c          28592
Name: count, dtype: int64

In [192]:
# stem surface values
stem_surface = df['stem-surface'].value_counts()
print(stem_surface.head(15))
print('Null values:', df1['stem-surface'].isnull().sum())

stem-surface
s    327610
y    255500
i    224346
t    147974
g     78080
k     73383
h     28283
f       512
w        49
d        48
e        36
n        34
x        26
b        23
c        22
Name: count, dtype: int64
Null values: 1980861

In [193]:
# cleaning stem surface
df1['stem-surface'] = df1['stem-surface'].fillna('other')
df1['stem-surface'] = df1['stem-surface'].astype(str).str.strip()
df1['stem-surface'] = df1['stem-surface'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['stem-surface'].isnull().sum())


# we treat s, y, i, t, g, k, h as official values, and call all other categories "other"
official_stem_surface = ['s', 'y', 'i', 't', 'g', 'k', 'h']
df1['stem-surface'] = df1['stem-surface'].apply(lambda x: x if x in official_stem_surface else 'other')
stem_surface1 = df1['stem-surface'].value_counts()
print(stem_surface1)

Null values: 0
stem-surface
other    1981769
s         327610
y         255500
i         224346
t         147974
g          78080
k          73383
h          28283
Name: count, dtype: int64

In [194]:
# stem color values
stem_color = df['stem-color'].value_counts()
print(stem_color.head(15))
print('Null values:', df1['stem-color'].isnull().sum())

stem-color
w    1196637
n    1003464
y     373971
g     132019
o     111541
e     103373
u      67017
p      54690
k      33676
r      22329
l       9994
b       7365
f        573
s         51
t         40
Name: count, dtype: int64
Null values: 38

In [195]:
# cleaning stem color
df1['stem-color'] = df1['stem-color'].fillna('other')
df1['stem-color'] = df1['stem-color'].astype(str).str.strip()
df1['stem-color'] = df1['stem-color'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['stem-color'].isnull().sum())


# we treat w, n, y, g, o, e, u, p, k, r as official values, and call all other categories "other"
official_stem_color = ['w', 'n', 'y', 'g', 'o', 'e', 'u', 'p', 'k', 'r']
df1['stem-color'] = df1['stem-color'].apply(lambda x: x if x in official_stem_color else 'other')
stem_color1 = df1['stem-color'].value_counts()
print(stem_color1)

Null values: 0
stem-color
w        1196637
n        1003464
y         373971
g         132019
o         111541
e         103373
u          67017
p          54690
k          33676
r          22329
other      18228
Name: count, dtype: int64

In [196]:
# veil type values
veil_type = df['veil-type'].value_counts()
print(veil_type.head(15))
print('Null values:', df1['veil-type'].isnull().sum())

veil-type
u    159373
w        11
a         9
f         8
e         8
b         5
c         5
y         4
k         4
g         4
n         3
s         3
r         2
d         2
p         2
Name: count, dtype: int64
Null values: 2957493

In [197]:
# cleaning veil type
df1['veil-type'] = df1['veil-type'].fillna('other')
df1['veil-type'] = df1['veil-type'].astype(str).str.strip()
df1['veil-type'] = df1['veil-type'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['veil-type'].isnull().sum())


# we treat u as official values, and call all other categories "other"
official_veil_type = ['u']
df1['veil-type'] = df1['veil-type'].apply(lambda x: x if x in official_veil_type else 'other')
veil_type1 = df1['veil-type'].value_counts()
print(veil_type1)

Null values: 0
veil-type
other    2957572
u         159373
Name: count, dtype: int64

In [198]:
# veil color values
veil_color = df['veil-color'].value_counts()
print(veil_color.head(15))
print('Null values:', df1['veil-color'].isnull().sum())

veil-color
w    279070
y     30473
n     30039
u     14026
k     13080
e      9169
g        30
p        23
r        14
o        13
s        11
a         7
t         7
d         6
i         6
Name: count, dtype: int64
Null values: 2740947

In [199]:
#cleaning veil color
df1['veil-color'] = df1['veil-color'].fillna('other')
df1['veil-color'] = df1['veil-color'].astype(str).str.strip()
df1['veil-color'] = df1['veil-color'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['veil-color'].isnull().sum())


# we treat w, y, n, u, k, e as official values, and call all other categories "other"
official_veil_color = ['w', 'y', 'n', 'u', 'k', 'e']
df1['veil-color'] = df1['veil-color'].apply(lambda x: x if x in official_veil_color else 'other')
veil_color1 = df1['veil-color'].value_counts()
print(veil_color1)

Null values: 0
veil-color
other    2741088
w         279070
y          30473
n          30039
u          14026
k          13080
e           9169
Name: count, dtype: int64

In [200]:
# has ring values
has_ring = df['has-ring'].value_counts()
print(has_ring.head(15))
print('Null values:', df1['has-ring'].isnull().sum())

has-ring
f    2368820
t     747982
r         16
h         13
c         11
l         11
s         11
p         11
g          8
z          6
e          6
x          5
m          4
y          3
d          3
Name: count, dtype: int64
Null values: 24

In [201]:
#cleaning has ring
df1['has-ring'] = df1['has-ring'].fillna('other')
df1['has-ring'] = df1['has-ring'].astype(str).str.strip()
df1['has-ring'] = df1['has-ring'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['has-ring'].isnull().sum())


# we treat a, d, x, e, s, p, f as official values, and call all other categories "other"
official_has_ring = ['f', 't']
df1['has-ring'] = df1['has-ring'].apply(lambda x: x if x in official_has_ring else 'other')
has_ring1 = df1['has-ring'].value_counts()
print(has_ring1)

Null values: 0
has-ring
f        2368820
t         747982
other        143
Name: count, dtype: int64

In [202]:
# ring type values
ring_type = df['ring-type'].value_counts()
print(ring_type.head(15))
print('Null values:', df1['ring-type'].isnull().sum())

ring-type
f    2477170
e     120006
z     113780
l      73443
r      67909
p      67678
g      63687
m       3992
t         98
d         37
n         34
x         32
b         29
y         25
s         18
Name: count, dtype: int64
Null values: 128880

In [203]:
#cleaning ring type
df1['ring-type'] = df1['ring-type'].fillna('other')
df1['ring-type'] = df1['ring-type'].astype(str).str.strip()
df1['ring-type'] = df1['ring-type'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['has-ring'].isnull().sum())


# we treat f, e, z, l, r, p, g as official values, and call all other categories "other"
official_ring_type = ['f', 'e', 'z', 'l', 'r', 'p', 'g']
df1['ring-type'] = df1['ring-type'].apply(lambda x: x if x in official_ring_type else 'other')
ring_type1 = df1['ring-type'].value_counts()
print(ring_type1)

Null values: 0
ring-type
f        2477170
other     133272
e         120006
z         113780
l          73443
r          67909
p          67678
g          63687
Name: count, dtype: int64

In [204]:
# spore values
spore = df['spore-print-color'].value_counts()
print(spore.head(15))
print('Null values:', df1['spore-print-color'].isnull().sum())

spore-print-color
k    107310
p     68237
w     50173
n     22646
r      7975
u      7256
g      3492
y        36
s        21
c        16
e        14
f        14
t        13
a        13
d         9
Name: count, dtype: int64
Null values: 2849682

In [205]:
#cleaning spore
df1['spore-print-color'] = df1['spore-print-color'].fillna('other')
df1['spore-print-color'] = df1['spore-print-color'].astype(str).str.strip()
df1['spore-print-color'] = df1['spore-print-color'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['spore-print-color'].isnull().sum())


# we treat k, p, w, n as official values, and call all other categories "other"
official_spore = ['k', 'p', 'w', 'n']
df1['spore-print-color'] = df1['spore-print-color'].apply(lambda x: x if x in official_spore else 'other')
spore1 = df1['spore-print-color'].value_counts()
print(spore1)

Null values: 0
spore-print-color
other    2868579
k         107310
p          68237
w          50173
n          22646
Name: count, dtype: int64

In [206]:
# habitat values
habitat = df['habitat'].value_counts()
print(habitat.head(15))
print('Null values:', df1['habitat'].isnull().sum())

habitat
d    2177573
g     454908
l     171892
m     150969
h     120137
w      18530
p      17180
u       5264
e         55
s         52
n         41
t         40
r         38
y         34
a         34
Name: count, dtype: int64
Null values: 45

In [207]:
#cleaning habitat
df1['habitat'] = df1['habitat'].fillna('other')
df1['habitat'] = df1['habitat'].astype(str).str.strip()
df1['habitat'] = df1['habitat'].apply(lambda x: 'x' if (x.isnumeric() or '.' in x or ' ' in x) else x)
print('Null values:', df1['habitat'].isnull().sum())


# we treat d, g, l, m, h, w, p, u as official values, and call all other categories "other"
official_habitat = ['d', 'g', 'l', 'm', 'h', 'w', 'p', 'u']
df1['habitat'] = df1['habitat'].apply(lambda x: x if x in official_habitat else 'other')
habitat1 = df1['habitat'].value_counts()
print(habitat1)

Null values: 0
habitat
d        2177573
g         454908
l         171892
m         150969
h         120137
w          18530
p          17180
u           5264
other        492
Name: count, dtype: int64

In [208]:
# season values
season = df['season'].value_counts()
print(season.head(15))
print('Null values:', df1['season'].isnull().sum())

season
a    1543321
u    1153588
w     278189
s     141847
Name: count, dtype: int64
Null values: 0

Season is already cleaned, so we leave as is.